<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                    <img src="{{user.profile.profile_photo.url}}" alt="Profile" class="img_profile" class="img-responsive"
                        style="border-radius: 50%; width: 50%"></div>

                <div class="col-md-2">

                    <div>


                        <form class="navbar-form" role="search" action="{% url 'search_results' %}">

                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name="article">

                                <button class="btn btn-default" type="submit" style="font-size:20px;">&#xf002;</button>

                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-md-4" style="text-align:center; font-family: 'Staatliches', cursive; font-size:30px;">
                    <a href="{% url 'project' %}" style="color: black">awwwards</a>
                </div>

                <div class="col-md-3">

                    <a href="{% url 'new-project' %}" style="background-color:cadetblue; font-size:20px; color: white" class="btn btn-default">SUBMIT
                        YOUR SITE</a>
                </div>

                <div class="col-md-2">


                    {% if user.is_authenticated%}

                    <ul>

                        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                            aria-expanded="false" style=" font-size:25px; color: black">Account <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'profile' %}"> profile</a>
                            </li>
                            <li>
                                <a href="/accounts/password/change">Change Password</a>
                            </li>
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                        </ul>

                    </ul>
                    {% else %}
                    <li>
                        <a class="btn btn-default" href="/accounts/login">Login</a>
                    </li>
                    </ul>
                    {% endif%}

                </div>

            </div>
        </div>
    </nav>
</body>

</html>