{% extends 'base.html' %}
{%block content %}
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Satisfy&display=swap" rel="stylesheet">

<div class="container" style="margin-top:50px">

    <div class="row">
        <div class="col-md-6">
            <img src="{{project.project.url}}" class="img-responsive" style="width: 500px;height: 400px">

        </div>

        <div class="col-md-6">
            <h2 style="font-family: 'Kaushan Script', cursive; font-size: 40px">Poject details</h2><hr>

            <h6><strong>Project-title:</strong>{{ project.title}} </h6>
            <h6>{{ project.project_description}} </h6>
            <a href="{{project.project_link}}"> PROJECT SITE</a><hr>

            <h3 style="font-family: 'Kaushan Script', cursive; font-size: 40px">Projects Rates</h3> <hr>

            <h6> {{ design_average }} Design Rates </h6>
            
            <h6> {{ usability_average}} Usability Rates</h6>
           
            <h6> {{content_average}} Content Rates</h6>
            
            <a href="{% url 'add_review' project.id %}" class="btn btn-default" style="background-color:cadetblue">
                Add Review </a>
        </div>


    </div>
</div>
{% endblock %}